!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "#{yield(:title)} | Ruby on Rails Tutorial Sample App"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to "sample app", '#', id: "logo"
          %ul.nav.pull-right
            %li= link_to "Home", '#'
            %li= link_to "Help", '#'
            %li= link_to "Sign in", '#'
    .container
      = yield
      %hr
      %footer
        = link_to 'Home', home_path
        |
        = link_to 'Help', help_path
        |
        = link_to "About", about_path
        |
        = link_to 'Contact', contact_path
